.searchForm{
    display: inline-block;
    padding: 8px;
}

.createOrderButton{
    margin: 10px !important;
    background-color: #3872b4 !important;
}

.deleteSelectedButton{
    margin: 10px !important;
    background-color: #3872b4 !important;
}

.orderTypeMenu{
    padding: 8px !important;
}

/* Could not find what was causing the Order Type filter box to be so large, so brute force it is */
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 9px;
}

.orderTypeLabel{
    position: relative;
}